@import '../../../variable';

.test-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.test-tab {
	margin-top: 36px;
	margin-bottom: 27px;
	display: flex;
	.MuiButton-label {
		padding: 0 7px;
	}

	.tab-item {
		margin-right: 20px;
		display: flex;
		align-items: center;
		font-size: 18px;
		color: $inactive-link;
		border-radius: 0;
		.current-dot {
			font-size: 14px;
			color: $green;
		}
		.complete-dot {
			font-size: 14px;
			color: $red;
		}
	}
	.active-change {
		color: $black;
		border-bottom: 3.2px solid $darkblue;
		transition: none;
	}
}

.test-list {
	padding-left: 32px;
	.test-list-item {
		width: 90%;
		border: 2px solid $border;
		border-radius: 4px;
		display: grid;
		grid-template-columns: 50% 50%;

		padding: 8px 20px;
		margin-bottom: 16px;

		.topic {
			grid-column: 1/-1;
			font-size: 22px;
		}
		.date {
			display: flex;
			align-items: center;
		}
		.detail {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
		.MuiButton-label {
			color: $link;
			padding: 0;
		}
	}
}
