@import '../../variable';

.teacher-top-nav,
.student-top-nav {
	height: 60px;
	background-color: $darkblue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	.top-nav-logo {
		height: 48px;
	}
	.top-nav-content {
		display: flex;
		align-items: center;
	}
}
