@import '../../../variable';

.subject-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.subject-table {
	margin-top: 32px;
	.MuiTableCell-root {
		font-size: 18px;
	}
}
.delete-subject-button {
	display: flex;
	justify-content: flex-end;
	margin-top: 50px;
}

@media all and (max-width: 780px) {
	.subject-table {
		margin-top: 18px;
		.MuiTableCell-root {
			font-size: 14px;
		}
	}
}
@media all and (max-width: 500px) {
	.subject-heading {
		flex-direction: column;
		align-items: flex-start;
		.heading {
			margin-bottom: 14px;
		}
	}
}
